@import "./styles/variables.module";

.btn {
   display: inline-block;
   padding: 8px 12px;
   font-weight: 600;
   font-size: 14px;
   border-radius: 6px;
   transition: background-color 0.3s, color 0.3s;

   & svg {
      margin-right: 5px;
   }
}

.primary {
   color: $blue;
   background-color: $blue-alice;

   &:hover {
      color: #1669d4;
      background-color: #e2efff;

      & svg {
         fill: #1669d4;
      }
   }
}

.secondary {
   color: $blue-dark;
   background-color: $white;
   opacity: 0.9;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);

   &:hover {
      color: #182a42;
      background-color: #ececec;

      & svg {
         fill: #182a42;
      }
   }
}
