@import "./styles/variables.module";

.wrapper {
   max-width: 100%;
   min-height: 215px;
   padding: 30px;
   background-color: $white;
   border-radius: 10px;
   text-align: center;
   border: 1px solid $color-border;
}

.images {
   display: flex;
   justify-content: center;
   margin-bottom: 12px;
}

.innerImg {
   &:first-child {
      left: 5px;
      z-index: 1;
   }

   &:last-child {
      left: -5px;
   }
}

.subtitle {
   margin-bottom: 20px;
}

.buttons {
   display: flex;
   justify-content: space-between;
}
