.h1 {
   font-weight: 400;
   font-size: 15px;
   line-height: 120%;
}

.h2 {
   font-weight: 600;
   font-size: 17px;
   line-height: 130%;
   margin-bottom: 15px;
}

.h3 {
   font-weight: 500;
   font-size: 15px;
   line-height: 120%;
   margin-bottom: 6px;
}

.h4 {
   font-weight: 400;
   font-size: 13px;
   line-height: 120%;
}
