@import "./styles/variables.module";

.menu {
   padding: 20px 0;
}

.list {
   text-align: center;
}

.item {
   margin: 30px 0;

   a {
      svg {
         transition: all 0.3s;
      }

      &:hover svg {
         fill: $blue;
      }
   }
}
